.blog--save-article {
    color: green;
    font-size: 20px;
    padding: 10px;
  }

  .blog--save-article:hover { 
    color: #00c400;
    cursor: pointer;
  }

.saved-article-icon {
  display: flex;
}

  .message-section {
    position: absolute;
    right: 10px;
    
  }